%body
	= render partial: 'sidebar'
.rightbox
	.rightcontent
		.rightcontent--header
			.rightcontent--header-name
				= @group.name
			.rightcontent--header-members
				- @group.users.each do |user|
					.group--user--name
						%li= user.name
			.rightcontent--header-edit
				= link_to 'Edit', edit_group_path(@group), { class: "rightcontent--header-edit-button" }
		.rightcontent--content
			%ul.chat-messages
			- @group.messages.each do |message|
				= render 'message', message: message

	.rightcontent--footer
		= form_for [@group,@message], html: {id: 'new_form'} do |f|
			.rightcontent--footer__body
				= f.text_field :body, placeholder: "type a message", class: "rightcontent--footer__body-form"
				%label.rightcontent--footer__body-file
					= f.file_field :image, class: "image_form_button", style: "display: none;"
					%i.fa.fa-image
			.rightcontent--footer__button
				= f.submit "Send", class: "rightcontent--footer__button-send"
