%body
.leftcontent
	.leftcontent--header
		%p.leftcontent--header-user-name
			= current_user.name
		%div.leftcontent--header-right-box
			.btn-group1
				= link_to new_group_path do
					.fa.fa-pencil-square-o{"aria-hidden": true}
			.btn-group2
				= link_to edit_user_registration_path(current_user.groups) do
					.fa.fa-cog{"aria-hidden": true}
	.leftcontent--bottom
		%p.leftcontent--bottom-group-name
			- @groups.each do |group|
				%ul.group--name--box
					= link_to group.name ,group_messages_path(group), style: "color:white;"
				.leftcontent--bottom-group-talk
					= group.messages.last.try(:body) || "まだメッセージはありません"
.rightbox
	.rightcontent
		.rightcolor
